/* Style */
body {
  background: #010113;
  font-family: "Avenir", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* wrapper */
.wrapper {
  max-width: 768px;
  width: 100%;
  margin: 0 auto;
}

.wrapper-960 {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
}

.fontFamilyGaramond {
  font-family: 'Cormorant Garamond', serif;
  font-family: 'EB Garamond', serif;
}

.fontFamilyRoboto {
  font-family: 'Roboto', sans-serif;
}

/* Home */
.customHomeLink {
  text-decoration: none;
  color: #3d3b3b;
}

/* Case-studies */
.hero-content-inner {
  padding: 1.2rem;
}

.hero {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

@media only screen and (max-width: 768px) { 
  .hero {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}


.hero-image {
  /* position: absolute; */
  overflow: hidden;
  display: block;
}

.card {
  padding: 1rem;
  height: 100%;
}

.cards {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.cards-prj {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  padding: 1rem 0;
}

.card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-long {
  max-width: 1200px;
  margin: 0 auto;
  display: block;
  height: 600px;
}

/* Cards-img Portfolio */
.card-pt {
  padding: 1rem;
  height: auto;
}

.cards-pt {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  padding: 1.5rem;
}

@media only screen and (max-width: 768px) { 
  .cards-pt { 
    padding: unset;
  }
}

@media only screen and (max-width: 768px) { 
  .cards, 
  .cards-prj, 
  .cards-pt { 
    display: block !important;
    width: 100%;
  }
}

@media only screen and (max-width: 768px) { 
  .card-long,
  .card-img,
  .cards-pt {
    width: 100%;
    max-width: none;
    height: unset;
    object-fit: contain;
  }
}

.link {
  font-family: 'Avenir', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.link a,
.link a:visited,
.link a:active,
.link a:link {
  text-decoration: none;
  color: #3d3b3b;
}

/* Slide component */
.body-bg {
  /* background: linear-gradient(to right, #063e56, #001e2d); */
  /* background: linear-gradient(to right top, #042a3a, #06232f, #081c25, #06161b, #010d11); */
  background: linear-gradient(to right top, #f8f8f8, #f5f5f5, #f2f2f2, #f0f0f0, #ededed);
  border-width: 0.5rem;
  border-style: solid;
  /* border-image: linear-gradient(to right, #ffebee, #954f57) 1; */
  /* border-image: linear-gradient(to right, #063e56, #001e2d) 1; */
  border-image: linear-gradient(to right, #734248, #180232) 1;
}

.carousel {
  position: relative;
  opacity: 1;
  background: transparent;
  width: 100%;
  overflow: hidden;
}

.carousel__stage {
  position: relative;
  display: block;
  white-space: nowrap; 
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.slide {
  background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #000000, #000000c7); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #000000, #000000c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
  display: inline-block;
  height: calc(100vh - 300px);
  margin: 2rem 0;
  padding: 0;
  overflow: hidden;
  position: relative;
  width: 100vw;
}

.carousel__stage::-webkit-scrollbar {
  display: none;
  overflow: hidden;
}

/* Image inside slide */
.slide img {
  width: 100%; /* Take the full width of the container */
  height: 100%; /* Maintain aspect ratio */
  object-fit: cover; /* Crop and fit the image within the box */
  object-position: left;
  position: absolute;
  opacity: 0.3;
}

.slide img:hover { 
  opacity: unset;
  transition: all 2s ease-in-out;
}

.slide-description {
  position: absolute;
  top: 50%;
  bottom: 50%;
  z-index: 2;
  margin: 2rem;
}

.linkEmail, 
.linkSocial,
.linkHomePage,
.linkNoCodeProjects {
  text-decoration: none; 
  color: unset;
}

.underline {
  text-decoration: underline;
}